@import "vars";

html, html[data-theme="light"] {
		--light-text-color: #ccc;
  		--link-color: #ccc;
	    --border-color: #ccc;
  		--main-background-color: #FFFFFFFF;
  		--main-text-color: #ccc;
		--accent-color: #56ADD9FF;
}

html[data-theme="dark"] {
		--light-text-color: #56ADD9FF;
  		--link-color: #ccc;
	    --border-color: #666666FF;
  		--main-background-color: #191919;
  		--main-text-color: #ccc;
		--accent-color: #56ADD9FF;
	}

//@media (prefers-color-scheme: dark) {
//	html, html[data-theme="light"] {
//			--light-text-color: #123;
//			--link-color: #123;
//			--border-color: #123;
//			--main-background-color: #123;
//			--main-text-color: #123;
//			--accent-color: #56ADD9FF;
//	}
//
//	html[data-theme="dark"] {
//			--light-text-color: #ccc;
//			--link-color: #ccc;
//			--border-color: #ccc;
//			--main-background-color: #ccc;
//			--main-text-color: #ccc;
//			--accent-color: #56ADD9FF;
//		}
//}
//
