//$background-color: 		#fcfcfc;
$background-color: #000000;

$black: #fff;
//$black:					#000;
$white: #000;
//$white:					#fff;

// new
$hightlight-background: #191919;

$grey-color-darker: #111;
$grey-color-dark: #333;
$grey-color-normal: #666;
$grey-color-light: #aaa;
$grey-color-lighter: #ddd;
$grey-color-lightest: #eee;

$primary-color: #56add9;

$facebook-brand-color: #3b5998;
$twitter-brand-color: #55acee;

$default-width: 1100px;
$on-tablet: 768px;
$on-smaller-tablets: 640px;
$on-phone: 480px;

$burger-cell-height: 2px;

$ghd-code-background: #141414;
$ghd-code-color: #ccc;

// dark mode
$dark-mode-background: #191919;
$dark-mode-light-text: #fff;
$dark-mode-text: #fff;
$dark-mode-border: #333;
$dark-mode-link: #fff;
$dark-mode-accent: #56add9;

// light mode
$light-mode-background: #fff;
$light-mode-text: #000;
$light-mode-link: #000;
$light-mode-border: #ccc;
$light-mode-accent: #56add9;


//@import url('https://cdn.rawgit.com/lonekorean/gist-syntax-themes/d49b91b3/stylesheets/idle-fingers.css');
//
//@import url('https://fonts.googleapis.com/css?family=Open+Sans');
//body {
//  font: 16px 'Open Sans', sans-serif;
//}

body .gist .gist-file {
  background: var(--main-background-color) !important;
  border-color: #555 #555 #444 !important;
}
//
//body .gist .gist-data {
//  border-color: #555 !important;
//}
//
//body .gist .gist-meta {
//  //color: #ffffff !important;
//  //background: #373737 !important;
//  @include theme() {
//    color: theme-get('text-color') !important;
//    background-color: theme-get('bg-color') !important;
//  }
//}
//
//body .gist .gist-meta a {
//  color: #ffffff !important;
//}


//
////html, html[data-theme="light"], {
////   body {
////      background-color: #aaaaaa;
////     $hightlight-background: #ffffff;
////   }
////}
//
//html[data-theme="dark"] {
//  body {
//    background: #ffffff;
//    $hightlight-background: #191919;
//  }
//

//
//}

